//
//  debug.uat.xcconfig
//  Marauders
//
//  Created by somsak on 20/1/2567 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


//#include "Pods/Target Support Files/Pods-MyCar/Pods-MyCar.debug-uat.xcconfig"
#include "Configuration/Keys/UAT_KEY.xcconfig"
