//
//  project.sit.xcconfig
//  Marauders
//
//  Created by somsak on 20/1/2567 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "Configuration/Keys/SIT_KEY.xcconfig"
#include "Configuration/Projects/project.xcconfig"
